[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-admin = "*"
black = "*"
django-crispy-forms = "*"
django-crum = "*"
django-tables2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
